<div class="col-lg-12">
    <div class="row">
        <h3 style="margin: 0px;"><i class="fa fa-plus" aria-hidden="true"></i> Editar Escola</h3>
    </div>
</div>
<div class="clearfix"></div>
<hr/>

<%= render 'form' %>
